@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        .about-text p:first-child {
            font-size: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="about-text">
        <p>A map i.a é uma empresa de análise de dados impulsionada pela excelência.</p>
        <p>Somos uma empresa comprometida em oferecer soluções inteligentes e inovadoras para impulsionar o sucesso dos nossos clientes. Com uma equipe de especialistas, tecnologia de ponta e rigorosos padrões de qualidade, capacitamos organizações a tomar decisões com base em dados e obter vantagem competitiva no mercado.</p>
        <p>Além disso, possuímos parcerias nacionais e internacionais, fornecendo soluções de análise de dados de ponta pela inteligência artificial para diversos setores.</p>
    </div>
</body>
</html>
