@{
    ViewData["Title"] = "Map I.A Analytics";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            text-align: center;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
        }

     

        section {
            height: 500px;
            padding: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }


        footer {
            background-color: #333;
            text-align: center;
            padding: 20px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Map I.A</h1>
        <p>Analytics</p>
    </div>
    <div class="footer">
        <p>Transforma números em insights & estratégias.</p>
    </div>

    <section>
        <nav>
            <nav id="informacoes-adicionais" class="informacoes-fornecedores">
                <div class="container">
                    <p>A MAP I.A. é uma empresa de análise de dados impulsionada pela excelência e inovação.</p>
                    <p>Somos uma empresa comprometida em oferecer soluções inteligentes e inovadoras para impulsionar o sucesso dos nossos clientes.</p>
                    <p>Com uma equipe de especialistas, tecnologia de ponta e rigorosos padrões de qualidade, capacitamos organizações a tomar decisões com base em dados e obter vantagem competitiva no mercado.</p>
                </div>
        </nav>
    </section>
   
</body>

</html>
