@{
    ViewData["Title"] = "Map I.A Analytics";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MapIA</title>
</head>

<style>

    header {
        margin-top: 20px;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    body {
        margin: 100;
        padding: 100;
    }

    section:first-of-type {
        background-color: black;
        color: white;
    }

    section:not(:first-of-type) {
        background-color: white;
        color: black;
    }

    section {
        padding: 200px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container {
        max-width: 1000px;
        display: flex;
    }

    .texto {
        flex: 1;
        text-align: left;
    }

    .imagem {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .imagem img {
            max-width: 100%;
            max-height: 100%;
        }

    #texto-informacoes p {
        font-size: 30px; /* Defina o tamanho da fonte desejado */
    }

    #texto-titulo p {
        font-size: 30px; /* Defina o tamanho da fonte desejado */
    }

    footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 20px 0;
    }
</style>

<body>
    <header>
        <nav id="menu-principal" class="menu-contatos">
            <!-- <p>Cabeçalho Teste Cabeçalho Teste Cabeçalho Teste Cabeçalho Teste</p> -->
        </nav>
    </header>
    <section>
        <nav id="informacoes-principais" class="informacoes-empresa">
            <div class="container">
                @*<h1>Map I.A</h1>*@
                @*<img src="~/images/logo_mapia.jfif" alt="logo-empresa" />*@
                <img src="~/images/whatsapp_image_2024-02-21_at_16.47.18-removebg-preview.png" />
            </div>
        </nav>
    </section>
    <section id="texto-informacoes" class="texto-empresa">
        <nav id="informacoes-adicionais" class="informacoes-fornecedores">
            <div class="container">
                <div class="texto">
                    <p>A MAP I.A. é uma empresa de análise de dados impulsionada pela excelência e inovação.</p>
                    <h6>
                        Somos uma empresa comprometida em oferecer soluções inteligentes e inovadoras para impulsionar o sucesso dos nossos clientes.
                        Com uma equipe de especialistas, tecnologia de ponta e rigorosos padrões de qualidade, capacitamos organizações a tomar decisões com base em dados e obter vantagem competitiva no mercado.
                        Além disso, possuímos parcerias nacionais e internacionais, fornecendo soluções de análise de dados de ponta, apoiadas pela inteligência artificial, para diversos setores.
                    </h6>
                </div>
                <div class="imagem">
                    @* <img src="~/images/logo_mapia.jfif" alt="logo-empresa" />*@
                    <img src="~/images/foto_paismap.png" />
                </div>
            </div>
        </nav>
    </section>
    <section id="texto-titulo" class="texto-explicativo">
        <nav id="infromacoes-add" class=" info-add">
            <div class="texto">
                <p>Estamos aqui para trazer soluções para você</p>
                <h6>
                    nosso compromisso é oferecer soluções   personalizadas e inovadoras para atender as suas necessidades e impulsionar o seu sucesso.
                </h6>

            </div>
        </nav>
    </section>
    <footer>
        <p>Transforma números em insights & estratégias.</p>
    </footer>
</body>

</html>
